trigger: none

pool: 
    name: devagent

stages:
- stage: PreCommit
  displayName: terraform install
  jobs: 
  - job: Terraforminstall
    steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest' 

# - stage: terraformvalidate
#   displayName: terraform validation
#   jobs:
#     - job: terraforminit
#       steps:
#       - task: TerraformTask@5
#         inputs:
#           provider: 'azurerm'
#           command: 'validate'
#           workingDirectory: '$(System.DefaultWorkingDirectory)/ENV/DEV'

          
- stage: terraforminit
  displayName: terraform init
  jobs:
    - job: terraforminit
      steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/ENV/DEV'
            backendServiceArm: 'dhruv_sc'
            backendAzureRmOverrideSubscriptionID: 'bf9b19d0-a2bd-49ee-9a16-6b8232861da6'
            backendAzureRmResourceGroupName: 'rg-titumama-1'
            backendAzureRmStorageAccountName: 'sadevopsinsiders123'
            backendAzureRmContainerName: 'terraform-state'
            backendAzureRmKey: 'dhondhu.terraform.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/ENV/DEV'
            environmentServiceNameAzureRM: 'dhruv_sc'
            environmentAzureRmOverrideSubscriptionID: 'bf9b19d0-a2bd-49ee-9a16-6b8232861da6'
                